body{
    background: black;
    color: white;
   
    text-align: center;
}

h1{
    border: 2px;
}

.btn{
    background-color: green;
    height: 40px;
    width :100px;
    border: 5px;
    border-color: brown;
}

